<?xml version="1.0"?>
<config>
  <modules>
      <Sols_Upsells>
          <version>0.2.2</version>
      </Sols_Upsells>
  </modules>
  <global>
      <helpers>
          <upsells>
              <class>Sols_Upsells_Helper</class>
	      </upsells>
	  </helpers>
  </global>
  <frontend>
    <routers>
        <upsells>
            <use>standard</use>
            <args>
                <module>Sols_Upsells</module>
                <frontName>upsells</frontName>
            </args>
        </upsells>
    </routers>
  </frontend>
</config>